<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56259197243-eiisre2irac5o4o50buj26b81mob599s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56259197243-eiisre2irac5o4o50buj26b81mob599s</string>
	<key>API_KEY</key>
	<string>AIzaSyDCEHn3NzAA1KO7bEGRnXbmciJ3upBIiJI</string>
	<key>GCM_SENDER_ID</key>
	<string>56259197243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehun.Pet</string>
	<key>PROJECT_ID</key>
	<string>pet0712-e83d6</string>
	<key>STORAGE_BUCKET</key>
	<string>pet0712-e83d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56259197243:ios:fc982fc83bf3ce9087df1e</string>
</dict>
</plist>